@import "tailwindcss";

@utility custom-input-error {
  border-color: #e11f0e;
}

:root {
  --background: #1c274c;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c274c;
    --foreground: #ffffff;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  max-width: 40rem;
  margin: auto;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-irish-grover), cursive;
}

a {
  color: inherit;
  text-decoration: none;
}
